@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #e63946;
  --white: #f1faee;
  --aqua: #a8dadc;
  --cepadon: #457b9d;
  --blue: #1d3557;
}
* {
  box-sizing: border-box;
  font-family: Montserrat Alternates;
}

body {
  width: 100%;
  background-color: var(--white);
}
header {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo {
  flex: 1 1 auto;
  width: 10px;
}
nav {
  flex: 10 10 auto;
  min-width: 300px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--blue);
  list-style: none;
}
.header__menu a {
  color: var(--blue);
  text-decoration: none;
  font-weight: 600;
  display: block;
  transition: 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.header__menu a:hover {
  color: var(--cepadon);
  border-bottom: 1px solid var(--red);
}
.main {
  max-width: 1400px;
  margin: 0 auto;
}
h1 {
  color: var(--red);
}
h2 {
  color: var(--cepadon);
}
h3 {
  color: var(--blue);
}
.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main__image figcaption {
  text-align: center;
}
.main__image img {
  width: 300px;
}
.main__text {
  display: block;
  max-width: 70%;
}
.cards__containder {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  min-width: 400px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--aqua);
  border-radius: 30px;
}
.card img {
  height: 100px;
}
.card a {
  display: block;
  text-decoration: none;
  background-color: var(--red);
  color: var(--white);
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}
