@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #e63946;
  --white: #f1faee;
  --aqua: #a8dadc;
  --cepadon: #457b9d;
  --blue: #1d3557;
}
* {
  box-sizing: border-box;
}

body {
  width: 100%;
}
header {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo {
  flex: 1 1 auto;
  width: 10px;
}
nav {
  flex: 10 10 auto;
  min-width: 300px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
